<!DOCTYPE html>
<html>
<head>
<title>Edit Recommendations</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="static/example.css" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
	<body>
		
		<div class="container">
			<h1>Edit Your Recommendation</h1>
			<form action="/recommendations/edit" th:action="@{/recommendations/edit}" th:object="${recommendation}" method="post">
				<input th:type="hidden" name="id" th:field="*{id}" />
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{author}" />
				</div>
				
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{relation}" />
				</div>
				
				<div class="form-group">
					<input type="text" class ="form-control" th:field="*{recEntry}" />
				</div>
		
				<button class="btn btn-primary">Save</button>
				<a href="#" th:href="@{/recommendations}" class="btn btn-danger" role="button">Cancel</a>
			</form>
		</div>
		
	</body>
</html>