<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="style.css"¨>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<body>

    <div class="hero-image">

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">X</a>
  <a href="#about">ABOUT</a>
  <a href="#">EDUCATION</a>
  <a href="#">EXPERIENCE</a>
  <a href='/recommendations'>RECOMMENDATIONS</a>
  <a href="#">CONTACT</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">menu</button>
  </div>

<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "325px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>


<div>
    <div class="hero-text">
      <h1 style="font-size:50px">Hi, I'm Peyton Priola!</h1>
      
    </div>
  </div>
</div>

<div class="break">
  <h5>    __    </h5>
</div>

<div class="arrow bounce">
  <a class="fa fa-arrow-down fa-2x" href="#"></a>
  <img src="https://toppng.com/public/uploads/preview/down-arrow-transparent-115494367360ezmlgtizw.png" height=20px>
</div>


<a name="about"></a>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
          <center><img src="http://images.clipartpanda.com/person-symbol-clip-art-black-person-symbol.svg" height="200px"></center>
      </div>
      <div class="col-sm-8">
          <h5> My name is Peyton Priola! I'm located in the Charlotte, NC area. In 2018, I graduated from the University of North Carolina at Chapel Hill with a Bachelor of Arts in Political Science. After working a few jobs, I was selected to participate in the Graduate Accelerator Program at Tech Talent South. Since completing that course, I am now interested in full stack Java development. Feel free to check out my GitHub projects or reach out to me via email/text/call/LinkedIn/carrier pigeon/etc!</h5> 
      </div>
    </div>
</div>

</br>
</br>
<center><h2>Education</h2></center>


<div class="education">
</br>

  <div class="example row justify-content-md-center">
      <div class="tts col-sm-3 ">
        <center><h3>Tech Talent South</h3>
          <h6>Charlotte, NC</h6>
        <p> June 2019 - August 2019</br>
            Graduate Accelerator Program</br>
            Code Immersion Course</p></center>
      </div>
      <div class="unc col-sm-3">
        <center><h3>University of North Carolina at Chapel Hill</h3>
          <h6>Chapel Hill, NC</h6>
        <p> August 2014 - May 2018</br>
            Bachelor of Arts in Political Science</p></center>
      </div>
      <div class="lr col-sm-3">
        <center><h3>Lenior Rhyne University</h3>
          <h6>Hickory, NC</h6>
        <p> August 2013 - May 2014</br>
        </p></center>

      </div>
    </div>
  </div>


</br>

<center><h2>Experience</h2></center>
</br>

<div class="timelineWhole">
<ul class="timeline">
    <li>
        <div class="timeline-badge">
          <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>St. Stephens Lutheran School: 2nd Grade Teacher</h4>
            </div>
            <div class="timeline-body">
              <p> -	Temporary position to replace an extended maternity leave</br>
                  -	First Aid, CPR, and AED Certified (August 2018) </p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">March 2019 - May 2019</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>The Walt Disney Company: Disney College Program Intern</h4>
            </div>
            <div class="timeline-body">
              <p> -	Delivered exceptional guest service in multiple roles across Disney property</br>
                  -	Utilized excellent communication and problem solving skills to ensure positive guest experiences</br>
                  -	Completed weekly Event Operations Seminar during program</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">August 2018 - January 2019</p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline-badge">
            <a><i class="fa fa-circle invert" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Pi Beta Phi Sorority: Social Coordinator</h4>
            </div>
            <div class="timeline-body">
                <p> -	Organized all social events for NC Alpha chapter while maintaining $30,000 annual budget</br>
                    -	Responsible for negotiating with event venues, campus organizations, and entertainment vendors</p>
            </div>
            <div class="timeline-footer">
                <p class="text-left">January 2017 - January 2018</p>
            </div>
        </div>
    </li>


    <li class="timeline-inverted">
        <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>3 Birds Marketing: Digital Evaluator</h4>
            </div>
            <div class="timeline-body">
                <p> -	Analyzed consumers' online experiences for car dealership brands such as Toyota, Honda, and Nissan</br>
                    -	Evaluated and recommended improvements to optimize websites</br>

            </div>
            <div class="timeline-footer">
                <p class="text-left">September 2015 - October 2016</p>
            </div>
        </div>
    </li>


    <li>
        <div class="timeline-badge">
            <a><i class="fa fa-circle" id=""></i></a>
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <h4>Pi Beta Phi Sorority: Webmaster</h4>
            </div>
            <div class="timeline-body">
                <p> -	Regularly created content for Instagram, Twitter, Tumblr, Facebook, and WordPress blog</br>
                    -	Used social media to positively promote Pi Beta Phi in the local and national communities</p>
            </div>
            <div class="timeline-footer">
                <p class="text-right">January 2014 - January 2015</p>
            </div>
        </div>
    </li>


    <li class="clearfix no-float"></li>
</ul>

</div>


</body>
</html>