<!DOCTYPE html>
<html>
<head>
<title>New Recommendations</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="css" rel="stylesheet" href="/templates/example.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
 	 


<h5>If you've worked with me in the past, let me know how it went! Feel free to give me constructive criticism, but please keep your language professional. </h5>


<div class="container">
			<h1>Create a New Recommendation</h1>
			<form action="#" th:action="@{/recommendations/new}" th:object="${recommendation}" method="post">
			
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Your name..." th:field="*{author}" />
				</div>
				
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Your relation to Peyton/job title..." th:field="*{relation}" />
				</div>
				
				<div class="form-group">
					<input type="text" class ="form-control" placeholder="Recommendation" th:field="*{recEntry}" />
				</div>
		
				<button class="btn btn-primary">Submit Your Post</button>
			</form>
		</div>


   

</body>
</html>